services:
  whoknows:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: whoknows-go
    ports:
      - "8080:8080"
    volumes:
      - ./:/whoknows:cached
      - ./go/database.db:/whoknows/go/database.db
      - ${SSH_AUTH_SOCK:-/ssh-agent}:/ssh-agent
    working_dir: /whoknows/go
    environment:
      - SSH_AUTH_SOCK=/ssh-agent
    env_file:
      - ./go/.env
    command: go run main.go
    restart: unless-stopped

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
    - ./logging/loki-config.yaml:/whoknows/go/loki/local-config.yaml
    - ./data/loki:/loki
    networks:
      - webnet
    restart: unless-stopped
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./logging/prometheus.yml:/whoknows/go/prometheus/prometheus.yml
      - ./data/prometheus:/prometheus
    networks:
      - webnet
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    network_mode: "host"
    restart: unless-stopped
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    depends_on:
      - loki
    volumes:
      - ./logging/alloy-config.yaml:/whoknows/go/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log:/var/log:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 /whoknows/go/alloy/config.alloy
    ports:
      - "12345:12345"
    networks:
      - webnet
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - loki
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - webnet
    restart: unless-stopped

volumes:
  grafana-data:
networks:
  webnet:
    driver: bridge