services:
  whoknows:
    image: ghcr.io/dvk-devops/dvk-project:latest
    environment:
      - KEYVAULT_NAME=${KEYVAULT_NAME}
      - SECRET_NAME=${SECRET_NAME}
      - API_URL=${API_URL}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_ENV=${SENTRY_ENV}
    container_name: whoknows-prod
    ports:
      - "8080:8080"
    volumes:
      - ./go/database.db:/whoknows/go/database.db
    networks:
      - webnet
    restart: unless-stopped

  nginx:
    image: ghcr.io/dvk-devops/nginx:latest
    container_name: whoknows-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/live/whoknows-dvk.dk:/etc/letsencrypt/live/whoknows-dvk.dk:ro
      - /etc/letsencrypt/archive/whoknows-dvk.dk:/etc/letsencrypt/archive/whoknows-dvk.dk:ro
    depends_on:
      - whoknows
      - grafana
      - loki
      - prometheus
    networks:
      - webnet

  loki:
    image: grafana/loki:latest
    container_name: loki
    volumes:
      - ./logging/loki-config.yaml:/etc/loki/local-config.yaml
      - ./data/loki:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - webnet
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./logging/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/prometheus:/prometheus
    networks:
      - webnet
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    network_mode: "host"
    restart: unless-stopped

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    depends_on:
      - loki
      - prometheus
    volumes:
      - ./logging/alloy-config.yaml:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log:/var/log:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy
    networks:
      - webnet
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - loki
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=whoknows
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_PASSWORD}
      - GF_SERVER_ROOT_URL=https://whoknows-dvk.dk/grafana
    networks:
      - webnet
    restart: unless-stopped

volumes:
  grafana-data:

networks:
  webnet:
    driver: bridge