services:
  whoknows:
    image: ghcr.io/dvk-devops/dvk-project:latest
    environment:
      - AZURE_KEYVAULT_NAME=${AZURE_KEYVAULT_NAME}
      - API_KEY_SECRET_NAME=${API_KEY_SECRET_NAME}
      - DB_URL_SECRET_NAME=${DB_URL_SECRET_NAME}
      - API_URL=${API_URL}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_ENV=${SENTRY_ENV}
    container_name: whoknows-prod
    ports:
      - "8080:8080"
    networks:
      - webnet
    restart: unless-stopped

  nginx:
    image: ghcr.io/dvk-devops/nginx:latest
    container_name: whoknows-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/live/whoknows-dvk.dk:/etc/letsencrypt/live/whoknows-dvk.dk:ro
      - /etc/letsencrypt/archive/whoknows-dvk.dk:/etc/letsencrypt/archive/whoknows-dvk.dk:ro
    depends_on:
      - whoknows
    networks:
      - webnet

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/host'
    volumes:
        - /proc:/host/proc:ro
        - /sys:/host/sys:ro
        - /:/host:ro
    networks:
      - webnet

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    user: "0:0"
    ports:
      - "12345:12345"
    volumes:
      - ./logging/alloy-config.yaml:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log:/var/log:ro
      - /var/lib/docker:/var/lib/docker:ro
      - alloy-data:/var/lib/alloy
    command: run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy
    networks:
      - webnet
    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8081:8080"
    privileged: true
    networks:
      - webnet

volumes:
  alloy-data:

networks:
  webnet:
    driver: bridge
