version: "3.9"

services:
  whoknows:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: whoknows-dev
    ports:
      - "8080:8080"
    volumes:
      - ./:/whoknows:cached
      - ./go/database.db:/whoknows/go/database.db
      - ${SSH_AUTH_SOCK:-/ssh-agent}:/ssh-agent
    working_dir: /whoknows/go
    environment:
      - SSH_AUTH_SOCK=/ssh-agent
    env_file:
      - ./go/.env
    command: go run main.go
    networks:
      - webnet
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: whoknows-nginx
    restart: always
    depends_on:
      - whoknows
      - grafana
      - loki
      - prometheus
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs/live:/etc/letsencrypt/live:ro
      - ./certs/archive:/etc/letsencrypt/archive:ro
    networks:
      - webnet

  loki:
    image: grafana/loki:latest
    container_name: loki
    user: "10001:10001"
    ports:
      - "3100:3100"
    volumes:
      - ./logging/loki-config.yaml:/etc/loki/local-config.yaml
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - webnet
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: "65534:65534"
    ports:
      - "9090:9090"
    volumes:
      - ./logging/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - webnet
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    network_mode: "host"
    restart: unless-stopped

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    user: "0:0"
    depends_on:
      - loki
      - prometheus
    ports:
      - "12345:12345"
    volumes:
      - ./logging/alloy-config.yaml:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log:/var/log:ro
      - alloy-data:/var/lib/alloy
    command: run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy
    networks:
      - webnet
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - loki
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_ROOT_URL=http://localhost:3000/
    networks:
      - webnet
    restart: unless-stopped

volumes:
  grafana-data:
  loki-data:
  prometheus-data:
  alloy-data:

networks:
  webnet:
    driver: bridge
