<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>About</title>
    <link rel="stylesheet" href="../static/btns.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <script
      src="https://js-de.sentry-cdn.com/34adec4d1e1b1f74bb4be01266185d4e.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="wrap">
      <h1>Our Team</h1>
      <img src="../static/monkgroup.png" alt="monk group our team" />
    </main>
  </body>
</html>
