{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DVK</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/nav.css" />
    <script
      src="https://js-de.sentry-cdn.com/34adec4d1e1b1f74bb4be01266185d4e.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
      {{template "nav" .}}
    <div class="area">
      <h1>DVK-Project</h1>
      <p>Search for java or 'c'</p>
      <form action="/search" method="get">
        <input type="text" name="q" id="search-input" placeholder="Search..." />
        <br />
        <label for="language">Choose a language</label>
        <select name="language" id="language" class="search-select">
          <option value="en">English</option>
          <option value="ro">Romanian</option>
        </select>
        <button type="submit" class="search-btn" id="search-button">
          Search
        </button>
      </form>
    </div>
    <footer class="footer">
      <span>¿Who Knows? &copy; {{.CurrentYear}}</span>
      <a href="/about">About</a>
    </footer>
  </body>
</html>
{{end}}
