auth_enabled: false

server:
  http_listen_port: 3100
  http_grpc_port: 9096

common:
  instance_addr: 0.0.0.0
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: 720h        # 30 days
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 12
  max_streams_per_user: 20000
  max_line_size: 256000

ruler:
  alertmanager_url: http://alertmanager:9093
  enable_api: true
