global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'whoknows-app'
    static_configs:
      - targets: ['whoknows:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['host.docker.internal:9100'] 

  - job_name: 'docker'
    static_configs:
      - targets: ['alloy:12345']
