<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
<h1>Search Results</h1>

<a href="/" class="home-link">Go Home</a>

<form action="/search" method="get" class="search-form">
    <input type="text" name="q" placeholder="Search..." id="search-input">
    <label for="language">Choose a language</label>
    <select name="language" id="language" class="search-select">
        <option value="en">English</option>
        <option value="ro">Romanian</option>
    </select>
    <br>
    <button type="submit">Search</button>
    </form>
    <div id="results">

    {{if .}}
    <ul class="results">
        {{range .}}
        <li>
            <strong>{{.Title}}</strong>
            <a href="{{.Url}}" target="_blank">{{.Url}}</a>
        </li>
        {{end}}
    </ul>
    {{else}}
        <p class="no-results">No results found.</p>
    {{end}}
    </div>
</body>
</html>